@import url('https://rsms.me/inter/inter.css');

* {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

sup {
  font-size: 40%;
}

strong {
  font-weight: 500;
}

tr.noheader td {
  font-weight: normal;
}

html {
  font-size: 16px;
  cursor: default;
  background-color: #eee;
  color: #111;
}

body {
  margin: 0;
  padding: 0;
}

col-row {
  display: flex;
}

col-x > *:not(col-row),
col-1 > *:not(col-row),
col-2 > *:not(col-row),
col-3 > *:not(col-row),
col-4 > *:not(col-row),
col-5 > *:not(col-row),
col-6 > *:not(col-row),
col-7 > *:not(col-row),
col-8 > *:not(col-row),
col-9 > *:not(col-row),
col-10 > *:not(col-row),
col-11 > *:not(col-row),
col-12 > *:not(col-row) {
  padding: 1svh 1svw;
  text-align: justify;
}

col-x,
col-1,
col-2,
col-3,
col-4,
col-5,
col-6,
col-7,
col-8,
col-9,
col-10,
col-11,
col-12 {
  display: block;
  flex: 1;
}

col-1 {
  max-width: calc(1 / 12 * 100%);
}

col-2 {
  max-width: calc(2 / 12 * 100%);
}

col-3 {
  max-width: calc(3 / 12 * 100%);
}

col-4 {
  max-width: calc(4 / 12 * 100%);
}

col-5 {
  max-width: calc(5 / 12 * 100%);
}

col-6 {
  max-width: calc(6 / 12 * 100%);
}

col-7 {
  max-width: calc(7 / 12 * 100%);
}

col-8 {
  max-width: calc(8 / 12 * 100%);
}

col-9 {
  max-width: calc(9 / 12 * 100%);
}

col-10 {
  max-width: calc(10 / 12 * 100%);
}

col-11 {
  max-width: calc(11 / 12 * 100%);
}

col-12 {
  max-width: calc(12 / 12 * 100%);
}

/* full height / hero section*/
.fh {
  min-height: 100svh;
  display: flex;
  align-items: center;
}

.fw {
  width: 100%;
}

img {
  width: 100%;
}

h1,
h2,
h3,
summary {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

summary {
  user-select: none;
  cursor: pointer;
  font-size: 1.7rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

form {
  margin: 0;
}

form * {
  display: block;
  margin: 7px 0;
}

input[type="email"],
input[type="text"],
input[type="range"] {
  width: 100%;
}

input,
button,
select {
  border: 1px solid #111;
  outline: none;
  padding: 4px;
  background-color: #eee;
  color: #111;
  border-radius: 0;
}

button {
  cursor: pointer;
}

footer {
  position: fixed;
  background-color: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #111;
}

a,
a * {
  cursor: pointer;
  color: inherit;
}

b,
b * {
  font-weight: 600;
}

i,
i * {
  font-style: italic;
}

p {
  margin: 0;
}

table:not(table table) > tbody > tr:nth-child(odd) {
  background-color: #ddd;
}

table:not(.noheader) > tbody > tr:first-child > td {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  text-align: center;
  border-right: 1px solid #111;
  padding: 0;
}

table td:last-child {
  border-right: none;
}

table td:last-child {
  border-right: none;
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}

@media (max-width: 850px) {
  body {
    padding: 1.5svw;
  }

  col-x,
  col-1,
  col-2,
  col-3,
  col-4,
  col-5,
  col-6,
  col-7,
  col-8,
  col-9,
  col-10,
  col-11,
  col-12 {
    max-width: 100%;
  }

  col-row {
    display: block;
  }

  .fh {
    display: inherit;
  }

  .mobile-hide {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #eee;
  }

  table:not(table table) > tbody > tr:nth-child(odd) {
    background-color: #222;
  }

  footer {
    border-top: 1px solid #eee;
  }
}