* {
  font-family: sans-serif;
  font-weight: 300;
}

sup {
  font-size: 40%;
}

strong {
  font-weight: 500;
}

html {
  font-size: 16px;
  cursor: default;
  background-color: #eee;
  color: #111;
}

body {
  margin: 0;
  padding: 0;
}

col-row {
  display: flex;
  padding: .5rem;
}

col-x,
col-1,
col-2,
col-3,
col-4,
col-5,
col-6,
col-7,
col-8,
col-9,
col-10,
col-11,
col-12 {
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;
  display: block;
}

col-x {
  flex: 1;
}

col-1 {
  flex-basis: calc(1 / 12 * 100%);
}

col-2 {
  flex-basis: calc(2 / 12 * 100%);
}

col-3 {
  flex-basis: calc(3 / 12 * 100%);
}

col-4 {
  flex-basis: calc(4 / 12 * 100%);
}

col-5 {
  flex-basis: calc(5 / 12 * 100%);
}

col-6 {
  flex-basis: calc(6 / 12 * 100%);
}

col-7 {
  flex-basis: calc(7 / 12 * 100%);
}

col-8 {
  flex-basis: calc(8 / 12 * 100%);
}

col-9 {
  flex-basis: calc(9 / 12 * 100%);
}

col-10 {
  flex-basis: calc(10 / 12 * 100%);
}

col-11 {
  flex-basis: calc(11 / 12 * 100%);
}

col-12 {
  flex-basis: calc(12 / 12 * 100%);
}

/* full height / hero section*/
col-row.fh {
  min-height: 100svh;
  display: flex;
  align-items: center;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

.vc {
  display: flex;
  align-items: center;
}

.ct {
  text-align: center;
}

.jt {
  text-align: justify;
}

.lt {
  text-align: left;
}

:not(header)>col-row>*>div {
  padding: .5rem;
}

img {
  width: 100%;
}

h1,
h2,
h3,
summary {
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

summary {
  user-select: none;
  cursor: pointer;
  font-size: 1.7rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

form {
  margin: 0;
}

form>* {
  display: block;
  margin: .5rem 0;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="range"] {
  width: 100%;
}

input,
button,
select {
  border: 1px solid #111;
  outline: none;
  padding: 4px;
  background-color: #eee;
  color: #111;
  border-radius: 0;
}

button {
  cursor: pointer;
}

footer {
  position: fixed;
  background-color: inherit;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #111;
}

header {
  position: sticky;
  padding: 1rem;
  top: 0;
  width: 100%;
  overflow: none;
  z-index: 1;
}

a,
a * {
  cursor: pointer;
  color: inherit;
}

b,
b * {
  font-weight: 600;
}

i,
i * {
  font-style: italic;
}

p {
  margin: 0;
}

table tr td {
  border-top: 1px solid #ddd;
}

table tbody tr:hover {
  background: #ddd;
}

table>thead th {
  font-weight: 700;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}

@media (max-width: 850px) {

  col-x,
  col-1,
  col-2,
  col-3,
  col-4,
  col-5,
  col-6,
  col-7,
  col-8,
  col-9,
  col-10,
  col-11,
  col-12 {
    /* margin-bottom: 1rem; */
    width: 100%;
  }

  :not(header)>col-row>col-x:not(:empty),
  :not(header)>col-row>col-1:not(:empty),
  :not(header)>col-row>col-2:not(:empty),
  :not(header)>col-row>col-3:not(:empty),
  :not(header)>col-row>col-4:not(:empty),
  :not(header)>col-row>col-5:not(:empty),
  :not(header)>col-row>col-6:not(:empty),
  :not(header)>col-row>col-7:not(:empty),
  :not(header)>col-row>col-8:not(:empty),
  :not(header)>col-row>col-9:not(:empty),
  :not(header)>col-row>col-10:not(:empty),
  :not(header)>col-row>col-11:not(:empty),
  :not(header)>col-row>col-12:not(:empty) {
    margin-bottom: 1rem;
  }

  col-row {
    display: block;
    overflow: hidden;
  }

  col-row.fh {
    display: inherit;
  }

  .mobile-hide,
  .mobile-hide * {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #eee;
  }

  table tr td {
    border-top: 1px solid #222;
  }

  table tbody tr:hover {
    background: #222;
  }

  footer {
    border-top: 1px solid #eee;
  }
}

* {
  box-sizing: border-box;
}
